@model webserver.Utility.PaginatedList<webserver.Models.DevBlog>


@foreach (var item in Model)
{

    <div class="row m-2">
        <div class="col-12">
            <a asp-action="Details" asp-controller="DevBlogs" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.Title)
            </a>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            @Html.DisplayFor(modelItem => item.Summary)
        </div>
    </div>
    <div class="row m-2">
        <div class="col-6">
            @Html.DisplayFor(modelItem => item.Time)
        </div>
        <div class="col-6">
            <a asp-action="Details" asp-controller="DevBlogs" asp-route-id="@item.Id">Read More...</a>
        </div>
    </div>
}

