@model DevBlog

<div class="container">
    <div class="row m-2">
        <div class="col-12">
            <a asp-action="Details" asp-controller="DevBlogs" asp-route-id="@Model.Id">
                @Html.DisplayFor(modelItem => Model.Title)
            </a>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            @Html.DisplayFor(modelItem => Model.Summary)
        </div>
    </div>
    <div class="row m-2">
        <div class="col-6">
            @Html.DisplayFor(modelItem => Model.Time)
        </div>
        <div class="col-6">
            <a asp-action="Details" asp-controller="DevBlogs" asp-route-id="@Model.Id">Read More...</a>
        </div>
    </div>
</div>
